requirements.md
bookstore-testcases/.DS_Store
bookstore-testcases/judge
bookstore-testcases/advanced/gen.py
bookstore-testcases/advanced/words.txt
bookstore-testcases/advanced/testcase1/1.ans
bookstore-testcases/advanced/testcase1/1.in
bookstore-testcases/advanced/testcase1/2.ans
bookstore-testcases/advanced/testcase1/2.in
bookstore-testcases/advanced/testcase1/3.ans
bookstore-testcases/advanced/testcase1/3.in
bookstore-testcases/advanced/testcase1/4.ans
bookstore-testcases/advanced/testcase1/4.in
bookstore-testcases/advanced/testcase1/5.ans
bookstore-testcases/advanced/testcase1/5.in
bookstore-testcases/advanced/testcase1/6.ans
bookstore-testcases/advanced/testcase1/6.in
bookstore-testcases/advanced/testcase1/7.ans
bookstore-testcases/advanced/testcase1/7.in
bookstore-testcases/advanced/testcase1/8.ans
bookstore-testcases/advanced/testcase1/8.in
bookstore-testcases/advanced/testcase1/9.ans
bookstore-testcases/advanced/testcase1/9.in
bookstore-testcases/advanced/testcase1/10.ans
bookstore-testcases/advanced/testcase1/10.in
bookstore-testcases/advanced/testcase2/1.ans
bookstore-testcases/advanced/testcase2/1.in
bookstore-testcases/advanced/testcase2/2.ans
bookstore-testcases/advanced/testcase2/2.in
bookstore-testcases/advanced/testcase2/3.ans
bookstore-testcases/advanced/testcase2/3.in
bookstore-testcases/advanced/testcase2/4.ans
bookstore-testcases/advanced/testcase2/4.in
bookstore-testcases/advanced/testcase2/5.ans
bookstore-testcases/advanced/testcase2/5.in
bookstore-testcases/advanced/testcase2/6.ans
bookstore-testcases/advanced/testcase2/6.in
bookstore-testcases/advanced/testcase2/7.ans
bookstore-testcases/advanced/testcase2/7.in
bookstore-testcases/advanced/testcase2/8.ans
bookstore-testcases/advanced/testcase2/8.in
bookstore-testcases/advanced/testcase2/9.ans
bookstore-testcases/advanced/testcase2/9.in
bookstore-testcases/advanced/testcase2/10.ans
bookstore-testcases/advanced/testcase2/10.in
bookstore-testcases/advanced/testcase3/1.ans
bookstore-testcases/advanced/testcase3/1.in
bookstore-testcases/advanced/testcase3/2.ans
bookstore-testcases/advanced/testcase3/2.in
bookstore-testcases/advanced/testcase3/3.ans
bookstore-testcases/advanced/testcase3/3.in
bookstore-testcases/advanced/testcase3/4.ans
bookstore-testcases/advanced/testcase3/4.in
bookstore-testcases/advanced/testcase3/5.ans
bookstore-testcases/advanced/testcase3/5.in
bookstore-testcases/advanced/testcase4/1.ans
bookstore-testcases/advanced/testcase4/1.in
bookstore-testcases/advanced/testcase4/2.ans
bookstore-testcases/advanced/testcase4/2.in
bookstore-testcases/advanced/testcase4/3.ans
bookstore-testcases/advanced/testcase4/3.in
bookstore-testcases/advanced/testcase4/4.ans
bookstore-testcases/advanced/testcase4/4.in
bookstore-testcases/advanced/testcase4/5.ans
bookstore-testcases/advanced/testcase4/5.in
bookstore-testcases/advanced/testcase4/6.ans
bookstore-testcases/advanced/testcase4/6.in
bookstore-testcases/advanced/testcase4/7.ans
bookstore-testcases/advanced/testcase4/7.in
bookstore-testcases/advanced/testcase4/8.ans
bookstore-testcases/advanced/testcase4/8.in
bookstore-testcases/advanced/testcase4/9.ans
bookstore-testcases/advanced/testcase4/9.in
bookstore-testcases/advanced/testcase4/10.ans
bookstore-testcases/advanced/testcase4/10.in
bookstore-testcases/advanced/testcase5/1.ans
bookstore-testcases/advanced/testcase5/1.in
bookstore-testcases/advanced/testcase5/2.ans
bookstore-testcases/advanced/testcase5/2.in
bookstore-testcases/advanced/testcase5/3.ans
bookstore-testcases/advanced/testcase5/3.in
bookstore-testcases/advanced/testcase5/4.ans
bookstore-testcases/advanced/testcase5/4.in
bookstore-testcases/advanced/testcase5/5.ans
bookstore-testcases/advanced/testcase5/5.in
bookstore-testcases/advanced/testcase5/6.ans
bookstore-testcases/advanced/testcase5/6.in
bookstore-testcases/advanced/testcase5/7.ans
bookstore-testcases/advanced/testcase5/7.in
bookstore-testcases/advanced/testcase5/8.ans
bookstore-testcases/advanced/testcase5/8.in
bookstore-testcases/advanced/testcase5/9.ans
bookstore-testcases/advanced/testcase5/9.in
bookstore-testcases/advanced/testcase5/10.ans
bookstore-testcases/advanced/testcase5/10.in
bookstore-testcases/basic/testcase1.ans
bookstore-testcases/basic/testcase1.in
bookstore-testcases/basic/testcase2.ans
bookstore-testcases/basic/testcase2.in
bookstore-testcases/basic/testcase3.ans
bookstore-testcases/basic/testcase3.in
bookstore-testcases/basic/testcase4.ans
bookstore-testcases/basic/testcase4.in
bookstore-testcases/basic/testcase5.ans
bookstore-testcases/basic/testcase5.in
bookstore-testcases/basic/testcase6.ans
bookstore-testcases/basic/testcase6.in
bookstore-testcases/basic/testcase7/1.ans
bookstore-testcases/basic/testcase7/1.in
bookstore-testcases/basic/testcase7/2.ans
bookstore-testcases/basic/testcase7/2.in
bookstore-testcases/basic/testcase7/3.ans
bookstore-testcases/basic/testcase7/3.in
bookstore-testcases/basic/testcase8/1.ans
bookstore-testcases/basic/testcase8/1.in
bookstore-testcases/basic/testcase8/2.ans
bookstore-testcases/basic/testcase8/2.in
bookstore-testcases/basic/testcase8/3.ans
bookstore-testcases/basic/testcase8/3.in
bookstore-testcases/basic/testcase8/4.ans
bookstore-testcases/basic/testcase8/4.in
bookstore-testcases/basic/testcase8/5.ans
bookstore-testcases/basic/testcase8/5.in
bookstore-testcases/basic/testcase8/6.ans
bookstore-testcases/basic/testcase8/6.in
bookstore-testcases/basic/testcase8/7.ans
bookstore-testcases/basic/testcase8/7.in
bookstore-testcases/basic/testcase8/8.ans
bookstore-testcases/basic/testcase8/8.in
bookstore-testcases/basic/testcase8/9.ans
bookstore-testcases/basic/testcase8/9.in
bookstore-testcases/basic/testcase8/10.ans
bookstore-testcases/basic/testcase8/10.in
bookstore-testcases/basic/testcase8/11.ans
bookstore-testcases/basic/testcase8/11.in
bookstore-testcases/basic/testcase8/12.ans
bookstore-testcases/basic/testcase8/12.in
bookstore-testcases/basic/testcase8/13.ans
bookstore-testcases/basic/testcase8/13.in
bookstore-testcases/basic/testcase8/14.ans
bookstore-testcases/basic/testcase8/14.in
bookstore-testcases/basic/testcase8/15.ans
bookstore-testcases/basic/testcase8/15.in
bookstore-testcases/basic/testcase8/16.ans
bookstore-testcases/basic/testcase8/16.in
bookstore-testcases/basic/testcase8/17.ans
bookstore-testcases/basic/testcase8/17.in
bookstore-testcases/basic/testcase8/18.ans
bookstore-testcases/basic/testcase8/18.in
bookstore-testcases/basic/testcase8/19.ans
bookstore-testcases/basic/testcase8/19.in
bookstore-testcases/basic/testcase8/20.ans
bookstore-testcases/basic/testcase8/20.in
bookstore-testcases/basic/testcase8/21.ans
bookstore-testcases/basic/testcase8/21.in
bookstore-testcases/basic/testcase8/22.ans
bookstore-testcases/basic/testcase8/22.in
bookstore-testcases/basic/testcase8/23.ans
bookstore-testcases/basic/testcase8/23.in
bookstore-testcases/basic/testcase8/24.ans
bookstore-testcases/basic/testcase8/24.in
bookstore-testcases/basic/testcase8/25.ans
bookstore-testcases/basic/testcase8/25.in
bookstore-testcases/basic/testcase8/26.ans
bookstore-testcases/basic/testcase8/26.in
bookstore-testcases/basic/testcase8/27.ans
bookstore-testcases/basic/testcase8/27.in
bookstore-testcases/basic/testcase8/28.ans
bookstore-testcases/basic/testcase8/28.in
bookstore-testcases/basic/testcase8/29.ans
bookstore-testcases/basic/testcase8/29.in
bookstore-testcases/basic/testcase8/30.ans
bookstore-testcases/basic/testcase8/30.in
bookstore-testcases/basic/testcase8/31.ans
bookstore-testcases/basic/testcase8/31.in
bookstore-testcases/basic/testcase8/32.ans
bookstore-testcases/basic/testcase8/32.in
bookstore-testcases/basic/testcase8/33.ans
bookstore-testcases/basic/testcase8/33.in
bookstore-testcases/basic/testcase8/34.ans
bookstore-testcases/basic/testcase8/34.in
bookstore-testcases/basic/testcase8/35.ans
bookstore-testcases/basic/testcase8/35.in
bookstore-testcases/basic/testcase8/36.ans
bookstore-testcases/basic/testcase8/36.in
bookstore-testcases/basic/testcase8/37.ans
bookstore-testcases/basic/testcase8/37.in
bookstore-testcases/basic/testcase8/38.ans
bookstore-testcases/basic/testcase8/38.in
bookstore-testcases/basic/testcase8/39.ans
bookstore-testcases/basic/testcase8/39.in
bookstore-testcases/basic/testcase8/40.ans
bookstore-testcases/basic/testcase8/40.in
bookstore-testcases/basic/testcase8/41.ans
bookstore-testcases/basic/testcase8/41.in
bookstore-testcases/basic/testcase8/42.ans
bookstore-testcases/basic/testcase8/42.in
bookstore-testcases/basic/testcase8/43.ans
bookstore-testcases/basic/testcase8/43.in
bookstore-testcases/basic/testcase8/44.ans
bookstore-testcases/basic/testcase8/44.in
bookstore-testcases/basic/testcase8/45.ans
bookstore-testcases/basic/testcase8/45.in
bookstore-testcases/basic/testcase8/46.ans
bookstore-testcases/basic/testcase8/46.in
bookstore-testcases/basic/testcase8/47.ans
bookstore-testcases/basic/testcase8/47.in
bookstore-testcases/basic/testcase8/48.ans
bookstore-testcases/basic/testcase8/48.in
bookstore-testcases/basic/testcase8/49.ans
bookstore-testcases/basic/testcase8/49.in
bookstore-testcases/basic/testcase8/50.ans
bookstore-testcases/basic/testcase8/50.in
bookstore-testcases/basic/testcase8/51.ans
bookstore-testcases/basic/testcase8/51.in
bookstore-testcases/basic/testcase8/52.ans
bookstore-testcases/basic/testcase8/52.in
bookstore-testcases/basic/testcase8/53.ans
bookstore-testcases/basic/testcase8/53.in
bookstore-testcases/basic/testcase8/54.ans
bookstore-testcases/basic/testcase8/54.in
bookstore-testcases/basic/testcase8/55.ans
bookstore-testcases/basic/testcase8/55.in
bookstore-testcases/basic/testcase8/56.ans
bookstore-testcases/basic/testcase8/56.in
bookstore-testcases/basic/testcase8/57.ans
bookstore-testcases/basic/testcase8/57.in
bookstore-testcases/basic/testcase8/58.ans
bookstore-testcases/basic/testcase8/58.in
bookstore-testcases/basic/testcase8/59.ans
bookstore-testcases/basic/testcase8/59.in
bookstore-testcases/basic/testcase8/60.ans
bookstore-testcases/basic/testcase8/60.in
bookstore-testcases/basic/testcase8/61.ans
bookstore-testcases/basic/testcase8/61.in
bookstore-testcases/basic/testcase8/62.ans
bookstore-testcases/basic/testcase8/62.in
bookstore-testcases/basic/testcase8/63.ans
bookstore-testcases/basic/testcase8/63.in
bookstore-testcases/basic/testcase8/64.ans
bookstore-testcases/basic/testcase8/64.in
bookstore-testcases/basic/testcase8/65.ans
bookstore-testcases/basic/testcase8/65.in
bookstore-testcases/basic/testcase8/66.ans
bookstore-testcases/basic/testcase8/66.in
bookstore-testcases/basic/testcase8/67.ans
bookstore-testcases/basic/testcase8/67.in
bookstore-testcases/basic/testcase8/68.ans
bookstore-testcases/basic/testcase8/68.in
bookstore-testcases/basic/testcase8/69.ans
bookstore-testcases/basic/testcase8/69.in
bookstore-testcases/basic/testcase8/70.ans
bookstore-testcases/basic/testcase8/70.in
bookstore-testcases/basic/testcase8/71.ans
bookstore-testcases/basic/testcase8/71.in
bookstore-testcases/basic/testcase8/72.ans
bookstore-testcases/basic/testcase8/72.in
bookstore-testcases/basic/testcase8/73.ans
bookstore-testcases/basic/testcase8/73.in
bookstore-testcases/basic/testcase8/74.ans
bookstore-testcases/basic/testcase8/74.in
bookstore-testcases/basic/testcase8/75.ans
bookstore-testcases/basic/testcase8/75.in
bookstore-testcases/basic/testcase8/76.ans
bookstore-testcases/basic/testcase8/76.in
bookstore-testcases/basic/testcase8/77.ans
bookstore-testcases/basic/testcase8/77.in
bookstore-testcases/basic/testcase8/78.ans
bookstore-testcases/basic/testcase8/78.in
bookstore-testcases/basic/testcase8/79.ans
bookstore-testcases/basic/testcase8/79.in
bookstore-testcases/basic/testcase8/80.ans
bookstore-testcases/basic/testcase8/80.in
bookstore-testcases/basic/testcase8/81.ans
bookstore-testcases/basic/testcase8/81.in
bookstore-testcases/basic/testcase8/82.ans
bookstore-testcases/basic/testcase8/82.in
bookstore-testcases/basic/testcase8/83.ans
bookstore-testcases/basic/testcase8/83.in
bookstore-testcases/basic/testcase8/84.ans
bookstore-testcases/basic/testcase8/84.in
bookstore-testcases/basic/testcase8/85.ans
bookstore-testcases/basic/testcase8/85.in
bookstore-testcases/basic/testcase8/86.ans
bookstore-testcases/basic/testcase8/86.in
bookstore-testcases/basic/testcase8/87.ans
bookstore-testcases/basic/testcase8/87.in
bookstore-testcases/basic/testcase8/88.ans
bookstore-testcases/basic/testcase8/88.in
bookstore-testcases/basic/testcase8/89.ans
bookstore-testcases/basic/testcase8/89.in
bookstore-testcases/basic/testcase8/90.ans
bookstore-testcases/basic/testcase8/90.in
bookstore-testcases/basic/testcase8/91.ans
bookstore-testcases/basic/testcase8/91.in
bookstore-testcases/basic/testcase8/92.ans
bookstore-testcases/basic/testcase8/92.in
bookstore-testcases/basic/testcase8/93.ans
bookstore-testcases/basic/testcase8/93.in
bookstore-testcases/basic/testcase8/94.ans
bookstore-testcases/basic/testcase8/94.in
bookstore-testcases/basic/testcase8/95.ans
bookstore-testcases/basic/testcase8/95.in
bookstore-testcases/basic/testcase8/96.ans
bookstore-testcases/basic/testcase8/96.in
bookstore-testcases/basic/testcase8/97.ans
bookstore-testcases/basic/testcase8/97.in
bookstore-testcases/basic/testcase8/98.ans
bookstore-testcases/basic/testcase8/98.in
bookstore-testcases/basic/testcase8/99.ans
bookstore-testcases/basic/testcase8/99.in
bookstore-testcases/basic/testcase8/100.ans
bookstore-testcases/basic/testcase8/100.in
bookstore-testcases/complex/words.txt
bookstore-testcases/complex/testcase1/1.ans
bookstore-testcases/complex/testcase1/1.in
bookstore-testcases/complex/testcase1/2.ans
bookstore-testcases/complex/testcase1/2.in
bookstore-testcases/complex/testcase1/3.ans
bookstore-testcases/complex/testcase1/3.in
bookstore-testcases/complex/testcase1/4.ans
bookstore-testcases/complex/testcase1/4.in
bookstore-testcases/complex/testcase1/5.ans
bookstore-testcases/complex/testcase1/5.in
bookstore-testcases/complex/testcase1/6.ans
bookstore-testcases/complex/testcase1/6.in
bookstore-testcases/complex/testcase1/7.ans
bookstore-testcases/complex/testcase1/7.in
bookstore-testcases/complex/testcase1/8.ans
bookstore-testcases/complex/testcase1/8.in
bookstore-testcases/complex/testcase1/9.ans
bookstore-testcases/complex/testcase1/9.in
bookstore-testcases/complex/testcase1/10.ans
bookstore-testcases/complex/testcase1/10.in
bookstore-testcases/complex/testcase1/gen1.py
bookstore-testcases/complex/testcase2/1.ans
bookstore-testcases/complex/testcase2/1.in
bookstore-testcases/complex/testcase2/2.ans
bookstore-testcases/complex/testcase2/2.in
bookstore-testcases/complex/testcase2/3.ans
bookstore-testcases/complex/testcase2/3.in
bookstore-testcases/complex/testcase2/4.ans
bookstore-testcases/complex/testcase2/4.in
bookstore-testcases/complex/testcase2/5.ans
bookstore-testcases/complex/testcase2/5.in
bookstore-testcases/complex/testcase2/6.ans
bookstore-testcases/complex/testcase2/6.in
bookstore-testcases/complex/testcase2/7.ans
bookstore-testcases/complex/testcase2/7.in
bookstore-testcases/complex/testcase2/8.ans
bookstore-testcases/complex/testcase2/8.in
bookstore-testcases/complex/testcase2/9.ans
bookstore-testcases/complex/testcase2/9.in
bookstore-testcases/complex/testcase2/10.ans
bookstore-testcases/complex/testcase2/10.in
bookstore-testcases/complex/testcase2/gen1.py
bookstore-testcases/complex/testcase3/1.ans
bookstore-testcases/complex/testcase3/1.in
bookstore-testcases/complex/testcase3/2.ans
bookstore-testcases/complex/testcase3/2.in
bookstore-testcases/complex/testcase3/3.ans
bookstore-testcases/complex/testcase3/3.in
bookstore-testcases/complex/testcase3/4.ans
bookstore-testcases/complex/testcase3/4.in
bookstore-testcases/complex/testcase3/5.ans
bookstore-testcases/complex/testcase3/5.in
bookstore-testcases/complex/testcase3/6.ans
bookstore-testcases/complex/testcase3/6.in
bookstore-testcases/complex/testcase3/7.ans
bookstore-testcases/complex/testcase3/7.in
bookstore-testcases/complex/testcase3/8.ans
bookstore-testcases/complex/testcase3/8.in
bookstore-testcases/complex/testcase3/9.ans
bookstore-testcases/complex/testcase3/9.in
bookstore-testcases/complex/testcase3/10.ans
bookstore-testcases/complex/testcase3/10.in
bookstore-testcases/complex/testcase3/gen2.py
bookstore-testcases/complex/testcase4/1.ans
bookstore-testcases/complex/testcase4/1.in
bookstore-testcases/complex/testcase4/2.ans
bookstore-testcases/complex/testcase4/2.in
bookstore-testcases/complex/testcase4/3.ans
bookstore-testcases/complex/testcase4/3.in
bookstore-testcases/complex/testcase4/4.ans
bookstore-testcases/complex/testcase4/4.in
bookstore-testcases/complex/testcase4/5.ans
bookstore-testcases/complex/testcase4/5.in
bookstore-testcases/complex/testcase4/6.ans
bookstore-testcases/complex/testcase4/6.in
bookstore-testcases/complex/testcase4/7.ans
bookstore-testcases/complex/testcase4/7.in
bookstore-testcases/complex/testcase4/8.ans
bookstore-testcases/complex/testcase4/8.in
bookstore-testcases/complex/testcase4/9.ans
bookstore-testcases/complex/testcase4/9.in
bookstore-testcases/complex/testcase4/10.ans
bookstore-testcases/complex/testcase4/10.in
bookstore-testcases/complex/testcase4/gen2.py
bookstore-testcases/complex/testcase5/1.ans
bookstore-testcases/complex/testcase5/1.in
bookstore-testcases/complex/testcase5/2.ans
bookstore-testcases/complex/testcase5/2.in
bookstore-testcases/complex/testcase5/3.ans
bookstore-testcases/complex/testcase5/3.in
bookstore-testcases/complex/testcase5/4.ans
bookstore-testcases/complex/testcase5/4.in
bookstore-testcases/complex/testcase5/5.ans
bookstore-testcases/complex/testcase5/5.in
bookstore-testcases/complex/testcase5/6.ans
bookstore-testcases/complex/testcase5/6.in
bookstore-testcases/complex/testcase5/7.ans
bookstore-testcases/complex/testcase5/7.in
bookstore-testcases/complex/testcase5/8.ans
bookstore-testcases/complex/testcase5/8.in
bookstore-testcases/complex/testcase5/9.ans
bookstore-testcases/complex/testcase5/9.in
bookstore-testcases/complex/testcase5/10.ans
bookstore-testcases/complex/testcase5/10.in
bookstore-testcases/complex/testcase5/gen2.py
bookstore-testcases/robust/testcase1.ans
bookstore-testcases/robust/testcase1.in
bookstore-testcases/robust/testcase2.ans
bookstore-testcases/robust/testcase2.in
bookstore-testcases/robust/testcase3.ans
bookstore-testcases/robust/testcase3.in
bookstore-testcases/robust/testcase4.ans
bookstore-testcases/robust/testcase4.in
bookstore-testcases/robust/testcase5.ans
bookstore-testcases/robust/testcase5.in
build/File_of_Author
build/File_of_ISBN
build/File_of_Author_
build/File_of_ISBN_
build/File_of_Key_
build/File_of_Key
build/File_of_Name
build/File_of_Name_
build/File_of_UserID
build/File_of_UserID_
bookstore-testcases/testcase5.ans
bookstore-testcases/testcase5.in
bookstore-testcases/testcase6.ans
bookstore-testcases/testcase6.in
build/File_of_Log
